body {
  padding: 50px;
  font: 16px "Verdana", Helvetica, Arial, sans-serif;
  overflow-y: scroll;  /* prevent side to side jumping */
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

h4.comments {
    margin: 20px 0 10px 0;
}

.blueLink {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.indent {
    margin-left: 15px;
}

div.container {

}

.update, .comments {
    margin-bottom: 10px;
}

.col-md-6 {
    xborder: 1px solid;
}

.userPanel {
    height: 100px;
    margin-top: 10px;
}

img.pull-left {
    margin-right: 15px;
}

.studies {
    margin-bottom: 25px;
}

.profile-info {
    margin-bottom: 10px;
}

.wrapper {
    clear: both;
    min-height: 100px;
    margin-bottom: 10px;
}

    .updateListPhotos, .userListPhotos, .studyPhotos {
        float: left;
        margin-right: 10px;
        height: 100px;
        width: 100px;
    }

    .UpdateReadMore {
        margin-top: 10px;
    }



