body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.container {

}

.userPanel{

    height: 100px;
    margin-top: 10px;
}

.updateListPhotos, .userListPhotos, .studyPhotos {
    float: left;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.blueLink {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    
}